@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
}
header {
  text-align: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}

nav {
  padding: 20px;
}

ul {
  list-style: none;
}

ul li {
  display: inline-block;
  padding: 5px 20px;
}

ul li a {
  text-decoration: none;
  color: #222;
}

.banner {
  max-height: 500px;
  overflow: hidden;
}

.banner img{
  width: 100%;
  object-position: center -200px;
}

footer {
  background-color: #ccc;
  text-align: center;
  padding: .5rem;
}